include /blocks/title/title
include /blocks/description/description

mixin about()
	+b.about&attributes(attributes)
		+title()
			| Расскажите о себе словами
			
		+description()
			| Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. 
			| Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
