include /blocks/logo/logo
include /blocks/about-skills/about-skills
include /blocks/slider-proficiency/slider-proficiency

mixin survey()
	+b.survey&attributes(attributes)
		+logo()
		+e('li').item
		+e.item
			+e('label').label Полное ФИОs
			+e('input').input
			+e('label').label Год рождения
			+e('input').input
			+e('label').label Место жительства
			+e('input').input
			+e('label').label Скайп
			+e('input').input
			+e('label').label Почта
			+e('input').input
		+e.item
			+e('input')(type='checkbox' id='id1').checkbox l
		+e.item
		+e.item
		+e.item
		+e.item
		+about-skills(getData('skills'))
		+slider-proficiency()
		
